<div class="panel panel-default activity-panel">	
	<header class="panel-heading">
		<div class="day-buttons">
			<button class="btn btn-circle day-btn add-day">+</button>
		</div>
	</header>
	<div class="panel-body">
		<div>
			<h4>My Hotels</h4>
			<ul class="list-group list-hotels">

			</ul>
		</div>
		<div>
			<h4>My Restaurants</h4>
			<ul class="list-group list-restaurants">
				
			</ul>
		</div>
		<div>
			<h4>My Things To Do</h4>
			<ul class="list-group list-thingsToDo">
				
			</ul>
		</div>
	</div>
</div>