$light-blue: #a8c9dd;
$medium-brown: #736357;
$light-brown: rgba(189,175,165,1); 
$lighter-brown: rgba(236,232,230,1);
$dark-brown: rgba(110,91,77,1);
$text-gray: rgba(163,163,163,1);

$navbar-height: 51px;

$screen-sm: 767px;
$screen-md: 992px;